.table-body-columns {
  input[type='checkbox']:checked {
    display: flex !important;
  }
  &:hover {
    input[type='checkbox'] {
      display: flex !important;
    }
  }
}

.table-body-columns-checked {
  background-color: var(--colorTableCheckedBg);
}
