:root {
  --colorNeutralBackground5: #ebebeb;
  --colorNeutralShadowAmbientLighter: rgba(0, 0, 0, 0);
  --colorNeutralForeground3BrandSelected: #5b5fc7;
  --colorDefaultBackground7: #f5f5f5;
  --colorNeutralStrokeSubtle: #e0e0e0;
  --colorNeutralStroke2: #e0e0e0;
  --colorNeutralStroke3: #f0f0f0;
  --colorBrandBackground2: #e8ebfa;
  --colorNeutralForeground3: #616161;
  --shadow16: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
  --colorScrollBar: #929292;
  --colorNeutralForeground2Hover: #242424;
  --colorNeutralForeground2: #424242;
  --colorNeutralBackground1Hover: #f5f5f5;
  --colorNeutralForeground1: #242424;
  --colorCompoundBrandStroke: #5b5fc7;
  --colorNeutralStroke1Hover: #c7c7c7;
  --colorNeutralBackground1Pressed: #e0e0e0;
  --colorNeutralForeground2BrandSelected: #5b5fc7;

  //table
  --colorTableThColor: rgb(97, 97, 97);
  --colorTableBorderBottomColor: rgb(240, 240, 240);
  --colorTableBorderHover: rgb(245, 245, 245);
}
