
* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


:root {
  --colorNeutralBackground5:#ebebeb;
  --colorNeutralShadowAmbientLighter: rgba(0,0,0,0.0);
  --colorNeutralForeground3BrandSelected: #5b5fc7;
  --colorDefaultBackground7:#F5F5F5;
  --colorNeutralStrokeSubtle:#e0e0e0;
  --colorNeutralStroke2:#e0e0e0;
  --colorBrandBackground2:#E8EBFA;

  --shadow16: 0 0 2px rgba(0,0,0,0.12), 0 8px 16px rgba(0,0,0,0.14);
}