
* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


:root {
  --colorNeutralBackground5:#ebebeb;
  --colorNeutralShadowAmbientLighter: rgba(0,0,0,0.0);
  --colorNeutralForeground3BrandSelected: #5b5fc7;
}